<div class="card h-100 shadow-sm">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img"
        aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#c8bebd"></rect>
    </svg>
    <div class="card-body">
        <div class="title row px-1">
            <h2 class="col-9 fw-semibold fs-5">${this._recipe.name}</h2>
            <p class="col text-end fw-bold"><i class="bi bi-alarm fw-bolder"></i> ${this._recipe.duration}min</p>
        </div>
        <div class="card-content row row-cols-1 row-cols-sm-2 g-1 p-1 mb-4">
            <ul id="recipe-ingredients" class="col list-unstyled">
                ${ingredient}
            </ul>
            <p id="recipe-instruction" class="col">${this._recipe.directions}</p>
        </div>
    </div>
</div>

BleuLou — 15/08/2022
Total pompom du 08 au 14:
Lou: 23 🍅
Neuroth: 21 🍅 
Melon: 6 🍅 
1 🍅 = 30min

Sachant que vous avez pas reporter toutes vos pompoms les loutres (je le sais parce que je vous ai lu dire plusieurs fois "Ah min, j'ai oublié de compter")

Bravo pour cette première semaine très productive !!
Melon (iel) 🐙 — 15/08/2022
Merci ! Mais moi c'était pas tjs 30 min krkr
BleuLou — 15/08/2022
Spa grave, c'est la moyenne 😊
C'est plus pour montrer qu'on a fait des trucs et que c'est super
Melon (iel) 🐙 — 15/08/2022
Ui !
BleuLou — 15/08/2022
Semaine du 15 au 21 août 2022
Lundi:
Lou: 🍅🍅🍅🍅🍅 (P7: dropdown ingredient) 
Neuroth — 15/08/2022
GG 😤
BleuLou — Hier à 14:45
Mardi:
Enorah: 🍅🍅🍅 + 🍅🍅🍅🍅 
Lou: 🍅 + 🍅🍅🍅🍅 (P7:#18 & #19) 