*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
    font-size: 1.1rem;
}
/****** Header ******/
header {
    display: flex;
    justify-content: center;
}

.logo {
    width: 15rem;
}

.searchbar {
    height: 3rem;
    padding-left: 1.5rem;
    background-color: #E7E7E7;
}

.searchbar:focus {
    background-color: #E7E7E7;
}

.search {
    background: none;
    border: none;
    top: 18%;
    right: 1%;
}

.search.bi-search {
    font-size: 1.5rem;
    font-weight: bold;
}

/****** Tag ******/
#tag-list {
    display: none;
    flex-direction: row;
}

.tag {
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    margin: 0 .5rem 0 0;
    width: fit-content;
    border-radius: 5px;
    background-color: #0d6efd;
    color: white;
    font-size: 1rem;
}

.tag span {
    margin-right: .5rem;
}

.green-tag {
    background: #68D9A4;
}

.red-tag {
    background: #dc3545;
}

/**** Dropdown *****/
#sorting-list input {
    padding: 1rem 1.5rem;
}

.dropdown-searchbar {
    border: 0;
    color: white;
}
.dropdown-toggle,
.dropdown-toggle::after {
    color: white;
    padding: 0;
}

.bg-teal {
background-color: #68D9A4;
}

.btn-group {
    width: 150px;
}

#ingredients input[type="search"],
#appareils input[type="search"],
#ustensils input[type="search"] {
    width: 75%;
}

#ingredients .btn,
#appareils .btn,
#ustensils .btn {
    padding: 1rem 0;
}

#ingredients .btn:hover,
#ingredients .btn:focus,
#ingredients .btn.show {
    background-color: #0d6efd;
}

#appareils .btn:hover,
#appareils .btn:focus,
#appareils .btn.show {
    background-color: #68D9A4;
    color: white;
}

#appareils .btn:hover {
    border-color: rgba(0, 128, 0, 0.192);
}

#appareils .btn:focus {
    border: solid 1px #20c997;
    box-shadow:  0 0 0 0.25rem rgba(32, 201, 150, .5);
}

#ustensils .btn:hover,
#ustensils .btn:focus,
#ustensils .btn.show {
    background-color: #dc3545;
}

#ingredients ul,
#appareils ul,
#ustensils ul {
    border-radius: 5px;
    color: white;
    padding: 1.5rem;
    width: 600px;
    column-count: 3;
    column-gap: 2rem;
}

#ingredients li::first-letter,
#appareils li::first-letter,
#ustensils li::first-letter  {
    text-transform:capitalize;
}

#ingredients li:hover,
#appareils li:hover,
#ustensils li:hover  {
    cursor: pointer;
}

/****** Recipes ******/
.card-body {
    background-color: #e9ecef;
}

article {
    box-sizing: border-box;
}

#recipe-ingredients > * {
    font-size: .8rem;
}

#recipe-ingredients li::first-letter {
    text-transform:capitalize;
}

#recipe-instruction {
    font-size: .8rem;
    text-overflow:"[...]";
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6; /* number of lines to show */
            line-clamp: 6; 
    -webkit-box-orient: vertical;
    }

.noresult {
    display:flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 100%;
    inset: 0;
    margin: 20% 0;
    font-weight: 600;
}